// @import './vscode.css';

@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''),
		url('@/assets/fonts/mulish-v12-latin-regular.woff') format('woff'),
		/* Modern Browsers */
		url('@/assets/fonts/mulish-v12-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
}


@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''),
		url('@/assets/fonts/space-mono-v12-latin-regular.woff') format('woff'),
		/* Modern Browsers */
		url('@/assets/fonts/space-mono-v12-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
}

/* exo-2-regular - latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('@/assets/fonts/exo-2-v20-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('@/assets/fonts/exo-2-v20-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html,
.v-snackbar__content,
[class*='text-'] {
	font-family: 'Exo 2', sans-serif !important;
}

.v-btn {
	text-transform: lowercase !important;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

// monospace fontface
.monospace-text {
	font-family: 'Space Mono', monospace !important;
	font-display: swap;
}

// Fix for Fab buttons stay highlighted after being clicked
.fab-fix:focus::before {
	opacity: 0 !important;
}

#obliqoro {
	// background-color: grey;
	background: rgb(2, 0, 36);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 145, 1) 100%);
}

/* When using a hero section, for a full screen view, set the height equal to 100vh minus the height on the toolbar (sm for smAndDown, else md) */
.sm-section-height {
	min-height: calc(100vh - 56px);
}

.md-section-height {
	min-height: calc(100vh - 76px);
}

/* Global pointer class */
.cl {
	cursor: pointer;
}

.tooltip-z .v-overlay__content {
	opacity: .90 !important;
	background: black !important;
	text-transform: lowercase !important;
}

/* Set text as unselectable*/
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.small-text {
	font-size: 0.65rem !important
}

/* Flip across the x-axis */
.flipx {
	transform: scaleX(-1);
}

/* Flip across the y-axis */
.flipy {
	transform: scaleY(-1);
}

/** Roate 90 deg*/
.rotate90 {
	transform: rotate(90deg);
}

.rotate45 {
	transform: rotate(45deg);
}

/**************/
/* Animations */
/**************/

/* page transition fade */
.fade-enter-active,
.fade-leave-active {
	transition-duration: 75ms;
	transition-property: opacity;
	transition-timing-function: ease;
}


.fade-enter,
.fade-leave-active {
	opacity: 0
}


.heartbeat {
	animation-name: heartBeat;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.heartbeat-twice {
	animation-name: heartBeat;
	animation-duration: 1.1s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out;
}

.pulse {
	animation-name: pulse;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.bounce {
	animation-name: bounce;
	transform-origin: center bottom;
}

.spin {
	animation-name: spin;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes bounce {

	from,
	20%,
	53%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

@keyframes heartBeat {
	0% {
		transform: scale(1);
	}

	14% {
		transform: scale(1.3);
	}

	28% {
		transform: scale(1);
	}

	42% {
		transform: scale(1.3);
	}

	70% {
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(0.85);
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}