@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url('@/assets/fonts/exo-2-v20-latin-regular.woff2') format('woff2');
}

html,
.v-snackbar__content,
[class*='text-'] {
	font-family: 'Exo 2', sans-serif !important;
}

.v-btn {
	text-transform: lowercase !important;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

#obliqoro {
	background: rgb(2, 0, 36);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(79, 0, 145, 1) 100%);
}

/* Global pointer class */
.cl {
	cursor: pointer;
}

.tooltip {
	opacity: .90 !important;
	background: black !important;
	text-transform: lowercase !important;
}

/* Set text as unselectable*/
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.mono-num {
	font-variant-numeric: tabular-nums;
}

.disabled-opacity {
	opacity: 0.38;
}